[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SDALGCP2"]
	path = SDALGCP2
	url = https://github.com/olatunjijohnson/sdalgcp2
