[submodule ".registry"]
	path = .registry
	url = https://github.com/olatunjijohnson/olatunjijohnson.r-universe.dev
	branch = HEAD
[submodule "MBGapp"]
	path = MBGapp
	url = https://github.com/olatunjijohnson/mbgapp
[submodule "SDALGCP2"]
	path = SDALGCP2
	url = https://github.com/olatunjijohnson/sdalgcp2
[submodule "lsda"]
	path = lsda
	url = https://github.com/olatunjijohnson/lsda
